.top-bar {
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  padding: 4px;
}
.top-bar span {
  font-size: 18px;
  margin-left: 2rem;
}

.top-bar .dropdown {
  margin-right: 2rem;
}

.top-bar-icons {
  display: flex;
  margin: 0.5rem 1rem;
  gap: 2rem;
  cursor: pointer;
}
.top-bar-icons a {
  color: #a5a5a5;
}

nav {
  background-color: #ffffff;
}

#navbarNav {
  margin-left: 10%;
}

.nav-item a {
  color: #515151;
}

.logo {
  height: 8%;
  width: 8%;
  margin: 0.5% 6% 0.5% 6%;
}

.nav-link {
  margin-right: 10px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #343434;
}

ul .tapcolor {
  color: #ffc400;
}

ul li:hover {
  color: #1d6cdc;
}

body {
  background-color: #f8f9fa;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
.card-img-top {
  height: 200px;
  object-fit: cover;
}
.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}
.card-text {
  font-size: 1rem;
  color: #6c757d;
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}

@media (max-width: 375px) {
  .logo {
    max-width: 300px;
  }
    .navbar-brand span {
    display: none;
  }
}
