* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f9fa;
}

nav {
  background-color: #ffffff;
}

#navbarNav {
  margin-left: 10%;
}

.nav-item a {
  color: #515151;
}

.nav-link {
  margin-right: 10px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #343434;
}

ul .tapcolor {
  color: #ffc400;
}

ul li:hover {
  color: #1d6cdc;
}

.contact-title {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
.row {
  color: #000000;
}
.form-control,
.btn {
  border-radius: 0.25rem;
}
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}

@media (max-width: 375px) {
  .logo {
    max-width: 300px;
  }
    .navbar-brand span {
    display: none;
  }
}
