@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}
html::-webkit-scrollbar {
  background-color: transparent;
  display: none;
}

body {
  background-color: #eaeaea;
  padding-top: 130px;
}

/* ------------Navbar------------ */

.top-bar {
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.top-bar span {
  font-size: 18px;
  margin-left: 2rem;
}
.top-bar-icons {
  display: flex;
  margin: 0.5rem 1rem;
  gap: 2rem;
  cursor: pointer;
}
.top-bar-icons a {
  color: #a5a5a5;
}

nav {
  background-color: #ffffff;
}

#navbarNav {
  margin-left: 20%;
}

.nav-item a {
  color: #515151;
}

.logo {
  height: 8%;
  width: 8%;
  margin: 0.5% 6% 0.5% 6%;
}

.nav-link {
  margin-right: 10px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #343434;
}

ul .tapcolor {
  color: #ffc400;
}

.nav-item a:hover {
  color: #1261cf;
}

/* ------------Home section------------ */

.home {
  width: 100%;
  min-height: 80vh;
  position: relative;
  background-image: url(img/bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  display: flex;
  align-items: center;
  color: #8dc0e4;
}

.container {
  padding: 0%;
}

.text span {
  color: #ffc400;
}

.text p {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}
.button a {
  text-decoration: none;
}

.btn1 {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 4px;
  margin-right: 15px;
  margin-top: 2rem;
}
.btn1:hover {
  background-color: #f6f6f6;
}
.btn2 {
  background-color: #023781;
  padding: 10px;
  color: #ffffff;
  border-radius: 4px;
}

/* -----------------Link to form--------------- */

.consultation-form {
  background-color: #ffffff;
  padding: 30px;
  text-align: center;
}
.consultation-form h2 {
  margin-bottom: 20px;
}
.consultation-form button {
  background-color: #3246ff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
}

.consultation-form button:hover {
  color: #343434;
}

.subtitle {
  font-size: 30px;
  font-weight: bold;
}

.card-group {
  gap: 1rem;
}

/* ----------------achievement---------------- */

.achievement {
  background: linear-gradient(to right, #3f4c6b, #606c88);
}
.banner {
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: wrap;
}
.text-box {
  text-align: center;
}
.text-box h1 {
  margin: 0;
}
.text-box p {
  margin-top: 5px;
}
.text-box h1 {
  color: #ffc400;
}
.text-section h2 {
  font-size: 1.5em;
  margin-bottom: 5px;
}
.text-section span {
  color: #ffc400;
}
.text-section p {
  font-size: 1em;
}

/* Slide-in Animations */
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.home .slide-in-left {
  animation: slideInLeft 1s ease-in-out;
}

.home .slide-in-Top {
  animation: slideInTop 1s ease-in-out;
}

/* -----------partner section----------- */

.partners {
  background-color: #fff;
  height: 50%;
}
.heading {
  margin-bottom: 20px;
}

.heading h1 {
  margin-bottom: 10px;
  color: #4c4c4c;
}

.swiper-container {
  min-width: 100%;
  padding: 20px 0;
  overflow: hidden; /* Prevent horizontal scroll */
}
.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  margin: 0 0.5%;
}

.swiper-slide .box {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(81, 81, 81, 0.1);
  max-width: 300px;
  text-align: center;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.swiper-slide-active .box {
  transform: scale(1);
  opacity: 1;
}
.swiper-slide-next .box,
.swiper-slide-prev .box {
  opacity: 0.7;
}

.swiper-slide img {
  max-width: 100px;
  height: auto;
}
.partner-logo .profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.box h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #4c4c4c;
}
.box p {
  font-size: 1em;
  color: #666;
}

/* -------------- footer -------------- */

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background: #10182f;
  border-radius: 10px 10px 0 0;
}
.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  padding: 50px;
}
.footer-col {
  width: 30%;
}
.d-flex {
  margin-top: -2rem;
}
.footer-row .footer-col h4 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
}
.footer-col .links {
  margin-top: 20px;
}
.footer-col .links li {
  list-style: none;
  margin-bottom: 10px;
  color: #bfbfbf;
}
.footer-col .links li a {
  text-decoration: none;
  color: #bfbfbf;
}
.footer-col .links li a:hover {
  color: #fff;
}
.footer-col p {
  margin: 20px 0;
  color: #bfbfbf;
  max-width: 300px;
}
.footer-col .rounded-circle {
  width: 25%;
}
.footer-col .icons {
  display: flex;
  margin: 70px 0px 0px 50px;
  font-size: 25px;
  gap: 30px;
  cursor: pointer;
}
.footer-col .icons .icon {
  color: #bdc0c5;
}
.footer-col .icons .icon:hover {
  color: #fff;
}
.btn-outline-info {
  position: fixed;
  bottom: 10%;
  right: 2%;
  z-index: 1;
}

@media (max-width: 768px) {
  .footer .footer-row {
    flex-direction: column;
    padding: 20px;
  }
  .footer-col {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer-col .icons {
    justify-content: center;
    margin: 20px 0 0;
  }
  .d-flex {
    flex-direction: column;
    align-items: center;
  }
  .d-flex img {
    width: 50%;
    margin-bottom: 10px;
  }
  .d-flex h2 {
    text-align: center;
  }
  .text-end {
    text-align: center !important;
  }
}
@media (max-width: 480px) {
  .footer {
    padding: 10px;
  }
  .footer-row {
    padding: 10px;
  }
  .footer-col .links li {
    font-size: 0.9rem;
  }
  .footer-row .footer-col h4 {
    font-size: 1.2rem;
  }
  .btn-outline-info {
    bottom: 5%;
    right: 5%;
  }
}
@media (max-width: 375px) {
  body {
    background-color: #eaeaea;
    padding-top: 100px;
  }
  .top-bar {
    width: 100%;
    justify-content: center;
  }
  .nav-item a {
    font-weight: 600;
  }

  .container {
    padding: 1rem;
    margin: 1rem;
  }
  .partners {
    background-color: #fff;
    height: 20%;
  }
  .text {
    margin-top: 5rem;
    text-align: center;
    font-weight: 600;
  }
  .button {
    margin: 2rem 0rem 0rem 2.5rem;
  }
  .logo {
    max-width: 300px;
  }
  .top-bar span {
    font-size: 12px;
  }
}
